<footer id="container">
  <div class="wf-footer">
    <ul>
      <li class="text-muted">
      &copy;{{ site.time | date: "%Y"  }} VMware, Inc. All rights reserved.
      </li>
      <li class="text-muted">
        {% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated {{ site.time | date: "%b %-d, %Y" }}.
      </li>
      <li class="text-muted">
        <a href='https://www.vmware.com//help/legal.html'>Terms of Use</a>
      </li>
      <li class="text-muted">
        <a href='https://www.vmware.com//help/privacy.html'>Privacy Policy</a>
      </li>
      <li class="text-muted">
        <a href='https://www.vmware.com//help/privacy/california-privacy-rights.html'>Your California Privacy Rights</a>
      </li>
      <li class="text-muted">
        <a class='ot-sdk-show-settings'>Cookie Settings</a>
      </li>
    </ul>
  </div>
</footer>
