<!-- New config given by Chloe Jackson-->
<!-- OneTrust -->
<meta content='018ee8e1-af20-7621-ac09-311a8994a9c8' name='onetrust-data-domain'>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" integrity="sha384-8gBf6Y4YYq7Jx97PIqmTwLPin4hxIzQw5aDmUg/DDhul9fFpbbLcLh3nTIIDJKhx" crossorigin="anonymous"></script>
<script>
  function OptanonWrapper() { { window.dataLayer.push({ event: 'OneTrustGroupsUpdated' }); } }
</script>
<!-- New config end -->

{% include google_analytics.html %}


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}">


<title>{{ page.title }} | {{ site.site_title }}</title>
<link rel="stylesheet" href="{{ "css/syntax.css" }}">

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="{{ "css/modern-business.css" }}">
<link rel="stylesheet" href="{{ "css/lavish-bootstrap.css" }}">
<link rel="stylesheet" href="{{ "css/wavefront-doc-style.css" }}">
<link rel="stylesheet" href="{{ "css/hackathon.css" }}">
<link rel="stylesheet" href="{{ "css/index.css" }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha384-tSi+YsgNwyohDGfW/VhY51IK3RKAPYDcj1sNXJ16oRAyDP++K0NCzSCUW78EMFmf" crossorigin="anonymous"></script>
<script src="{{ "js/jquery.navgoco.min.js" }}"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" integrity="sha384-EKxMxgJ+EnnZ5yB3ygGPe1lXaPvlAzKFXU+wW7kO9Bn9ZCgFRrc3wWtCnsDHbemf" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js" integrity="sha384-zxC4V8WT/JKuplWTZpOiB21zOviwN7IoC5jIkf83mMv1pN8kdN1FfJa9TJf7+UGa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js" integrity="sha384-DiiFfHfhDxu0xkE6YqjCCg8qzQUKT6CDPAhnp7K7hmFXhxLnw/M5TnuhAo0I+feU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js" integrity="sha384-l2OIC/I/PMWejmpCvbrAk1f6HuEvm+eQiEM40mlo1nckByy2IQs7BwBamnbqLhEt" crossorigin="anonymous"></script>
<script src="{{ "js/toc.js" }}"></script>
<script src="{{ "js/customscripts.js" }}"></script>
<script src="{{ "js/hackathonScripts.js" }}"></script>
<script src="{{ "js/indexPageScripts.js" }}"></script>

<link rel="shortcut icon" href="{{ "images/wavefront_favicon.png"  }}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
    var Wavefront = Wavefront || {};
    Wavefront.algolia = {
        application_id : "{{site.algolia.application_id}}",
        public_key : "{{site.algolia.public_key}}"
    };
</script>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}">
