<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container topnavlinks">
      <!---
      <div class="navbar-header">
          <a class="fa fa-lg navbar-brand" href="index.html"><img src="images/wavefront-by-VMware.svg" style="display:block;width:108px;margin-top:3px;margin-right:-4px"></a>
          <a style="line-height:38px;color:white;text-decoration: none;" href="https://docs.wavefront.com">Documentation</a>
          
      </div>
      --->
        <div class="navbar-header">
            <a class="fa fa-lg navbar-brand" href="index.html"><img src="images/VMware-by-Broadcom-Logo_white.svg" style="display:block;width:108px;margin-top:3px;margin-right:-4px"></a>
            <a style="line-height:2px;color:white;text-decoration: none;" href=".">Tanzu Observability <br/> Documentation</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- entries without drop-downs appear here -->
                {% for entry in site.data.topnav.topnav %}
                {% for item in entry.items %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank" rel="noopener noreferrer">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                <!-- entries with drop-downs appear here -->
                <!-- conditional logic to control which topnav appears for the audience defined in the configuration file.-->
                {% for entry in site.data.topnav.topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank" rel="noopener noreferrer">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}

                
                <li>
                   <div class="aa-input-container desktop" id="aa-input-container">
                   </div>
                 </li>
                

                 <li class="text-muted">
                   <a class="email" title="Submit feedback" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} feedback&body=I have some feedback about the {{page.title}} page: ' + window.location.href;"><i class="fa fa-envelope"></i>&nbsp;Doc Feedback</a>
                 </li>
          </ul>
      </div>
    </div>
      <!-- /.container -->


</nav>

<div class="container mobile-search">
    <div class="aa-input-container mobile" id="aa-input-container-mobile"></div>
</div>



<!--start search
-->
