- **&lt;Alert name&gt;** - the alert's [display expression](alerts_managing.html#alert-properties) if specified in the alert definition.
- **Alert Condition** - the alert [condition](alerts_managing.html#alert-properties).
- **Alert Firings** - an [events() query](events_queries.html) that shows events of type alert for the alert. These are events when alerts are open and are resolved.
- **Alert Details** - an [events() query](events_queries.html) that shows events of type alert-detail for the alert. These are events when sources are failing or recovered.
- **Alert Data** - a query that shows alert metrics for the event.