- **&lt;Alert name&gt;** - The display expression if one was specified. Otherwise, the [condition](alerts.html#alert-properties) expression.
- **Alert Condition** - The condition expression, if the display expression is shown.
- **Alert Firings** - An [events() query](events_queries.html) that shows events of type `alert` for the alert. These system events occur whenever the alert is opened. The query shows both the current firing (an ongoing event) and any past firings (ended events).
- **Alert Details** - An [events() query](events_queries.html) that shows events of type `alert-detail` for the alert. These system events occur when sources are failing or recovered.
- **Alert Data** - A query for alert metrics. These metrics are shown when the alert is open or updated.
