<div class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b> System dashboards are <em>read-only</em>. If
you want to make your own version of a system dashboard, clone the system dashboard, and make changes to
the clone. If you have a dashboard with the same URL as a system dashboard, we save the dashboard
with "-clone" added to the URL and "(Cloned)" added to the name.

<p>On the All Dashboards page, system dashboards are indicated with the Tanzu Observability by Wavefront logo icon (<img src="images/wavefront-simple-logo.png"
style="vertical-align:text-bottom;width:15px" />) next to the dashboard name.</p></div>
