<!DOCTYPE html>
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: false,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

            $("#mysidebar").fadeIn();

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-bars');
                $("#tg-sb-icon").toggleClass('fa-bars');
            });

            $("#tg-sb-content").fadeIn();
        });
    </script>
    {% if page.datatable == true %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function() {

            $('table.datatable').DataTable({
                    paging: false,
                    stateSave: true
                }
            );
        });
    </script>
    {% endif %}

    <script>
        var handlePanelHeights = function() {
            var didUpdate = false;
            $('.post-content').find('.row').each(function() {
                var maxHeight = 0;
                $(this).find('.panel-body').each(function() {
                    $(this).css('min-height', '0px');
                });

                $(this).find('.panel-body').each(function() {
                    maxHeight = Math.max(maxHeight, $(this).outerHeight());
                });

                $(this).find('.panel-body').each(function() {
                    $(this).css('min-height', maxHeight + 'px');
                });

                if (maxHeight > 0) {
                    didUpdate = true;
                }
            });

            return didUpdate;
        };

        /** Panel Height Fix **/
        $(document).ready(function() {
           var updated = handlePanelHeights();
           if (updated) {
               $(window).on('resize', function() {
                   handlePanelHeights();
               });
           }
        });
    </script>

</head>
<body>
{% include topnav.html %}
<!-- Page Content -->
<div class="container">
    <div class="col-lg-12">&nbsp;</div>
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3" id="tg-sb-sidebar">

          {% include sidebar.html %}
        <!-- Content Column -->
        <div class="col-md-9" id="tg-sb-content" style="display: none;">
            {{content}}
        </div>
    <!-- /.row -->
    </div>
<!-- /.container -->
</div>

<div id="scroll-to-top" title="Scroll to Top" style="display: none;">
    <i class="fa fa-arrow-circle-o-up"></i>
</div>

{% include footer.html %}
</body>

</html>
