---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% unless page.toc == false %}
    {% include toc.html level=page.toc_level %}
    {% endunless %}


    {% if site.github_editme_path %}
    <a target="_blank" href="https://github.com/{{site.github_editme_path}}{% unless page.url contains "index.html" %}pages/{% endunless %}{{page.folder}}{{page.url | remove: ".html" | append: ".md"}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>
    {% endif %}

  {{ content | extlinks }}

    <div class="tags">
        {% if page.tags != null %}
        <a href="index.html"><i class="fa fa-tags"></i></a>
        {% assign projectTags = site.data.tags.allowed-labels %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "label_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm label-btn" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

    {% if site.disqus %}
{% include disqus.html %}
    {% endif %}

</div>

{% if page.content contains "pre" or "code" %}
<script src=js/clipboard.js>
  </script>
{% endif %}
